################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/serilogFilepoc/.vs/serilogFilepoc/v16
/serilogFilepoc/bin/Debug/netcoreapp3.1
/serilogFilepoc/obj
